.row
  .span6.offset3
    = form_for(@event) do |f|
      = render 'shared/error_messages'
      = f.label :first_name
      = f.text_field :first_name
      = f.label :last_name
      = f.text_field :last_name
      = f.label :address
      = f.text_field :address
      = f.label :zip
      = f.text_field :zip
      = f.label :dob
      = f.date_select :dob

      = f.label :ssn
      .ssn_fields
        = text_field_tag :ssn1, nil, maxlength: 3, :class => "ssn1"
        = "-"
        = text_field_tag :ssn2, nil, maxlength: 2, :class => "ssn2"
        = "-"
        = text_field_tag :ssn3, nil, maxlength: 4, :class => "ssn3"

      = f.label :description
      = f.text_area :description
      = f.submit "Post", class: "btn btn-large btn-primary"
