= render 'shared/search'

%table.table.table-bordered.table-striped
  %tr
    %th Dealer Name
    %th Name
    %th Address
    %th DOB
    %th SSN

  - @events.each do |event| 
    %tr
      %td= event.user.name
      %td= event.name
      %td= event.address
      %td= event.dob.strftime("%m/%d/%Y")
      %td= event.ssn





