.panel.center
  %h2 Welcome to my site!
  %center

.row-fluid
  .span6
    %h2 A slider?
    = render 'shared/nivo_slider'
  .span6
    .content
      %h2 Featured Post

%hr
.row-fluid
  .span6
    .content
      %h2 
      %article
        %ul
          %li= link_to "About Me", about_path
          %li= link_to "Links", link_path 
          %li= link_to "Blog", blog_path 
          %li= link_to "Tutorials", tutorial_path 
  .span6
    .content.tutorial
      %h2 Recent Tutorials
      %article

